# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Environments
.env
.venv/
venv/

# Artifacts
data/
artifacts/
mlruns/
*.pkl
*.joblib
*.parquet
*.csv

# IDE
.vscode/
.idea/
.DS_Store
